# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
venv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__
req.txt  

# Pre-trained models (These will be downloaded on the fly)
*.pt
*.dat
*.dat.bz2
*.onnx
flyingobject_model.pt
shape_predictor_68_face_landmarks.dat
shape_predictor_68_face_landmarks.dat.bz2
quantized_model_1.onnx

# Back-up directory
backup/
backup

npm-debug.log*
yarn-debug.log*
yarn-error.log*
