# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
venv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__
req.txt  

# Pre-trained models (These will be downloaded on the fly in heroku app, hence can be ignored)
*.pt
*.dat
*.dat.bz2
*.onnx
*.zip
*.pkl
*.json
flyingobject_model.pt
shape_predictor_68_face_landmarks.dat
shape_predictor_68_face_landmarks.dat.bz2
quantized_model_1.onnx
VAE_CPU_1499_20200922095734.pt
G_CPU_999_20200910104719.pt
SRGAN_netG_CPU_999_20210315122150.pt
fast_style_transfer_models_cpu.zip
candy_cpu_scripted.pt
mosaic_cpu_scripted.pt
rain_princess_cpu_scripted.pt
udnie_cpu_scripted.pt
conv_senti_analysis_vocab.pkl
Conv_Senti_Analysis_CPU.pt
conv_multiqn_analysis_CPU.pt
conv_multiqn_analysis_vocab.pkl
WORDMAP_flickr8k_5_cap_per_img_5_min_word_freq.json
Test_flickr8k_caption.decoder.scripted.pt
Test_flickr8k_caption.encoder.scripted.pt


# Back-up directory
backup/
backup

npm-debug.log*
yarn-debug.log*
yarn-error.log*
